/*body{
    margin: 0;
    background: darkslateblue;
    text-align: center;
}*/

body{
    --one-unit: 1cqw;
    --cookie-banner-primary-color: #fff;
    --cookie-banner-secondary-color: #000;
    --cookie-banner-font-family: HelveticaNeue,Helvetica Neue,helvetica,Sans-Serif;
    --cookie-banner-font-size: 14px;
    --color_0: 255,255,255;
    --color_44: 255,255,255;
    --color_22: 191,223,227;
    --color_1: 255,255,255;
    --color_2: 0,0,0;
    --color_3: 237,28,36;
    --color_4: 0,136,203;
    --color_5: 255,203,5;
    --color_6: 114,114,114;
    --color_7: 176,176,176;
    --color_8: 255,255,255;
    --color_23: 159,209,214;
    --color_9: 114,114,114;
    --color_10: 176,176,176;
    --color_11: 255,255,255;
    --color_12: 216,216,216;
    --color_13: 154,159,165;
    --color_14: 109,115,119;
    --color_15: 0,0,0;
    --color_16: 154,159,165;
    --color_17: 109,115,119;
    --color_18: 227,208,168;
    --color_24: 135,193,199;
    --color_19: 37,47,53;
    --color_20: 0,0,0;
    --color_25: 25,25,25;
    --color_26: 255,255,255;
    --color_27: 247,247,247;
    --color_28: 216,216,216;
    --color_29: 177,171,171;
    --color_30: 145,141,141;
    --color_31: 248,248,248;
    --color_32: 227,242,243;
    --color_33: 200,228,231;
    --color_34: 142,186,190;
    --color_35: 112,178,185;
    --color_36: 255,255,255;
    --color_37: 0,0,0;
    --color_38: 216,216,216;
    --color_39: 154,159,165;
    --color_40: 109,115,119;
    --font_0: normal normal normal 32px/1.25em brandon-grot-w01-light,brandon-grot-w05-light,sans-serif;
    --color_45: 0,0,0;
    --color_41: 227,208,168;
    --color_46: 0,0,0;
    --color_47: 216,216,216;
    --color_48: 227,208,168;
    --color_49: 227,208,168;
    --color_50: 255,255,255;
    --color_51: 255,255,255;
    --color_52: 227,208,168;
    --color_53: 227,208,168;
    --color_54: 154,159,165;
    --color_55: 154,159,165;
    --color_56: 255,255,255;
    --color_57: 255,255,255;
    --color_58: 227,208,168;
    --color_59: 227,208,168;
    --color_42: 0,0,0;
    --color_60: 227,208,168;
    --color_61: 227,208,168;
    --color_62: 255,255,255;
    --color_63: 255,255,255;
    --font_1: normal normal normal 14px/1.43em 'open sans',sans-serif;
    --font_2: normal normal normal 40px/1.25em brandon-grot-w01-light,brandon-grot-w05-light,sans-serif;
    --font_3: normal normal normal 88px/1.14em brandon-grot-w01-light,brandon-grot-w05-light,sans-serif;
    --font_4: normal normal normal 72px/1.18em brandon-grot-w01-light,brandon-grot-w05-light,sans-serif;
    --font_5: normal normal normal 56px/1.25em brandon-grot-w01-light,brandon-grot-w05-light,sans-serif;
    --font_6: normal normal normal 33px/1.4em bree-w01-thin-oblique,bree-w05-thin-oblique,sans-serif;
    --font_7: normal normal normal 24px/1.46em brandon-grot-w01-light,brandon-grot-w05-light,sans-serif;
    --font_8: normal normal normal 20px/1.5em brandon-grot-w01-light,brandon-grot-w05-light,sans-serif;
    --color_64: 154,159,165;
    --color_21: 232,248,250;
    --font_9: normal normal normal 16px/1.55em brandon-grot-w01-light,brandon-grot-w05-light,sans-serif;
    --font_10: normal normal normal 14px/1.43em 'open sans',sans-serif;
    --wix-ads-height: 0px;
    --wix-ads-top-height: 0px;
    --site-width: 980px;
    --above-all-z-index: 100000;
    --portals-z-index: 100001;
    -webkit-font-smoothing: antialiased;
    --minViewportSize: 320;
    --maxViewportSize: 1920;
    --color_65: 154,159,165;
    --color_43: 154,159,165;
    --theme-spx-ratio: 1px;
    --scrollbar-width: 0px;
    --pinned-layers-in-page: 0;
    --top-offset: 0px;
    --header-height: 201px;
    --above-all-in-container: 10000;
    --bg: var(--color_11);
    --brwt: 0px;
    --brd: var(--color_11);
    --brwb: 0px;
    --bgctr: var(--color_11);
    --alpha-brd: 0;
    --alpha-bgctr: 1;
    --alpha-bg: 1;
    --shc-mutated-brightness: 128,128,128;
    pointer-events: auto;
    --bgDrop: var(--color_11);
    --rd: 0px;
    --shd: none;
    --fnt: var(--font_1);
    --pad: 0px;
    --txt: var(--color_15);
    --trans: color 0.4s ease 0s;
    --txth: var(--color_25);
    --txts: var(--color_25);
    --boxShadowToggleOn-shd: none;
    --alpha-txt: 1;
    --alpha-bgDrop: 1;
    --alpha-txth: 1;
    --alpha-txts: 1;
    --menuTotalBordersY: 0px;
    --menuTotalBordersX: 0px;
    list-style: none;
    white-space: nowrap;
    --display: inline-block;
    font: var(--fnt,var(--font_1));
    visibility: inherit;
    cursor: pointer;
    background: transparent;
    border: 0;
    margin: 0;
    outline: 0;
    vertical-align: baseline;
    display: inline-block;
    padding: 0 10px;
    color: rgb(var(--txts,var(--color_14)));
    transition: var(--trans,color .4s ease 0s);
    text-align: right;
    line-height: 30px;
}